.background {
    /* background-image: url(../pics/Desktop-ModelY.jpg); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* width: 100%; */
    height: 100vh;
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 550px;
    margin: auto;
    height: 100%;
    /* animation: fadeInAnimation 2s; */
}
.active-enter {
    opacity: 0;
}
.active-enter-active {
    opacity: 1;
    transition: opacity 1000ms;
}
.active-exit {
    opacity: 1;
}
.active-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.intro_text {
    padding-top: 18rem;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: 100%;
    bottom: 9vh;
}
/* Solar button to the middle */
.buttons a:only-child {
    margin: 0 auto;
}

@media only screen and (max-width: 550px) {
    .buttons {
        min-width: 320px;
        position: relative;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 1rem;
    }
}

/* Change to mobile backgrounds */
@media only screen and (max-width: 600px) {
    .model3 {
        background-image: url('../../pics/Mobile-model_3.jpg') !important;
    }
    .models {
        background-image: url('../../pics/Homepage-Model-S-Mobile-LHD.jpg') !important;
    }
    .modelx {
        background-image: url('../../pics/Homepage-Model-X-Mobile-LHD.jpg') !important;
    }
    .modely {
        background-image: url('../../pics/Mobile-ModelY.jpg') !important;
    }
    .solar {
        background-image: url('../../pics/Mobile-SolarPanels.jpg') !important;
    }
} ;
