.autopilot .horizontal_wrapper {
    height: max(600px, 100vh);
    display: grid;
    grid-template-rows: 1fr 220px;
}
.autopilot .background {
    width: auto;
    display: flex;
}
.autopilot .background_panels {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    margin-left: 3rem;
    gap: 5vh;
}

.autopilot .background_panels_info {
    font-size: 28px;
    font-weight: bold;
}
.autopilot .autopilot_content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    max-width: 1100px;
    height: 100%;
    margin: auto;
}
.autopilot .autopilot_content_left {
    margin-top: 3rem;
}

.autopilot .autopilot_content_left h2 {
    margin-bottom: 0.5rem;
}
.autopilot .autopilot_content_left_buttons p {
    /* margin-bottom: 0.5rem; */
    margin: auto 5px;
}

.autopilot .autopilot_content_left_buttons {
    display: flex;
    text-align: center;
}
.autopilot .autopilot_content_right {
    margin: auto;
}
/* AUTOPILOT ANIMATIONS */
.autopilot .background_panels_1 {
    animation-delay: 0ms;
}
.autopilot .background_panels_2 {
    animation-delay: 125ms;
}
.autopilot .background_panels_3 {
    animation-delay: 250ms;
}
