.autopilot {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 220px;
}
.autopilot .background {
    width: auto;
}
.autopilot .background_panels {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    margin-left: 3rem;
    gap: 8rem;
}

.autopilot .background_panels_info {
    font-size: 28px;
    font-weight: bold;
}
.autopilot .autopilot_content {
    display: flex;
    /* grid-template-columns: 1fr 1.5fr; */
    /* width: 100%; */
    /* margin: auto; */
    justify-content: center;
    margin-top: 2.5rem;
    gap: 5rem;
}
.autopilot .autopilot_content_left {
    width: 400px;
}

.autopilot .autopilot_content_left h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.autopilot .autopilot_content_left_buttons p {
    margin: auto 5px;
}

.autopilot .autopilot_content_left_buttons {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    /* position: absolute; */
    /* bottom: 2rem; */
    /* width: 100%; */
    /* margin: auto; */
}
.autopilot .autopilot_content_right {
    width: 600px;
}
/* AUTOPILOT ANIMATIONS */
.autopilot .background_panels,
.autopilot .autopilot_content {
    opacity: 0;
    transition: opacity 1.25s ease-in-out;
}
.autopilot_active .autopilot_content {
    -webkit-animation: fadeInUp 1.25s linear forwards;
    animation: fadeInUp 1.25s linear forwards;
    opacity: 1;
    transition: opacity 1.25s cubic-bezier(1, 0.07, 1, 1);
}
.autopilot_active .background_panels {
    opacity: 1;
    transition: opacity 2s cubic-bezier(1, 0.07, 1, 1);
}

.autopilot_active .background_panels_degrees {
    -webkit-animation: fadeInUp 1.25s linear forwards;
    animation: fadeInUp 1.25s linear forwards;
}
.autopilot_active .background_panels_meters {
    -webkit-animation: fadeInUp 1.5s linear forwards;
    animation: fadeInUp 1.5s linear forwards;
}
.autopilot_active .background_panels_detection {
    -webkit-animation: fadeInUp 1.75s linear forwards;
    animation: fadeInUp 1.75s linear forwards;
}
