.button_size_large {
    border-radius: 20px;
    /* padding: 10px 80px; */
    width: 265px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}
.button_size_thin {
    border-radius: 20px;
    width: 250px;
    height: 32px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    white-space: nowrap;
}
.button_size_small {
    border-radius: 20px;
    width: 220px;
    height: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    white-space: nowrap;
}
.button_size_round {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 18px;
}
.button:hover {
    cursor: pointer;
}
.button_mode_transparent {
    background-color: rgba(0, 0, 0, 0.01);
    border: 2px solid white;
    color: white;
    transition: all 250ms ease-in-out;
}
.button_mode_transparent:hover {
    background-color: white;
    color: black;
}
.button_mode_specs {
    background-color: #000;
    color: white;
    border: 2px solid #3e3f43;
}

.button_mode_dark {
    background-color: #3e3f43;
    color: white;
}
.button_light {
    background-color: #e9e9e8;
}
.button_mode_white {
    background-color: #ffff;
    border: 2px solid black;
    transition: all 250ms ease-in-out;
}
.button_mode_white:hover {
    background-color: black;
    color: #ffff;
}

.button_active {
    border: 2px solid white;
}

@media only screen and (max-width: 550px) {
    /* .button {
        min-width: 400px;
    } */
}
