.interior {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 220px;
    position: relative;
}

.interior .background_panels {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 0px;
    gap: 8rem;
    color: white;
    margin-left: auto;
    margin-right: 3rem;
}

.interior .background_panels_info {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}
.interior .interior_content {
    display: flex;
    /* grid-template-columns: 1fr 1.5fr; */
    /* width: 100%; */
    /* margin: auto; */
    justify-content: center;
    margin-top: 2.5rem;
    gap: 5rem;
}
.interior .interior_content_left {
    width: 400px;
}

.interior .interior_content_left h2 {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.interior .interior_content_left_buttons p {
    margin: auto 5px;
}

.interior .interior_content_left_buttons {
    display: flex;
    text-align: center;
    /* justify-content: center; */
    /* position: absolute; */
    /* bottom: 2rem; */
    /* width: 100%; */
    /* margin: auto; */
}
.interior .interior_content_right {
    width: 600px;
}
/* ANIMATIONS */
.interior .background_panels_1 {
    animation-delay: 0ms;
}
.interior .background_panels_2 {
    animation-delay: 125ms;
}
.interior .background_panels_3 {
    animation-delay: 250ms;
}
