.modal {
    /* position: fixed; */
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.modal_background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.modal_content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 300px;
    min-height: 150px;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    background-color: #f8f8f8;
    z-index: 1000;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.modal_content p {
    margin: auto;
    font-weight: bolder;
    padding: 0px 5px;
}
.modal_content button {
    margin: auto;
}
